{% extends 'master.html' %}
{% block title %}
Update Trans
{% endblock %}

{% block content %}

<h1>Create-Update Trans</h1>

{% if message %}

       <p>{{ message }}</p>

{% endif %}

<div>

       {% include 'transactions/partials/forms.html' %}

       <h3>Sub Transactions</h3>

		{% for subtran in object.get_subtrans_children %}

			{% include 'transactions/partials/subtran-inline.html' with object=subtran %}

       	{% endfor %}

       {% if new_subtran_url %}

              <div id='subtran-create'>
                    
              </div>
		<br>
              <button class="btn btn-secondary" hx-get="{{ new_subtran_url }}" hx-trigger='click' hx-target='#subtran-create' hx-swap='beforeend'>Add Subtran</button>


       {% endif %}

</div>


{% endblock content %}
