{% extends "master.html" %}

{% block title %}

Transaction Archive - Months

{% endblock %}

{% block content %}

<div class="container text-center">

	<h1 class="display-4" style="background-color: #151B54">Transactions</h1>

	<div class="list-group">
		
		{% for date in date_list %}
   
			<a class="list-group-item list-group-item-action list-group-item-primary" href="/trans/tmonth/{{ date|date:'Y'}}/{{ date|date:'m'}}">{{ date|date:"M Y" }}</a>
		
		{% endfor %}
		
	</div>

</div>


<div class="container text-center">
	{% if previous_year %}
		Prior: <a href="/{{ previous_year|date:'Y'}}">{{ previous_year|date:"Y" }}</a>
	{% endif %}
	{% if next_year %}
		Next: <a href="/{{ next_year|date:'Y'}}">{{ next_year|date:"Y" }}</a>
	{% endif %}
</div>

{% endblock %}