{% extends "fin23/master.html" %}

{% block title %}

Transaction Archive - Years

{% endblock %}

{% block content %}

<div class="container text-center">

	<h1 class="display-4" style="background-color: #151B54">Transactions</h1>

	<div class="list-group">

		<a class="list-group-item list-group-item-action list-group-item-success" href="{% url 'transactions:create' %}">New Trans</a>

		{% for year in date_list %}

			<a class="list-group-item list-group-item-action list-group-item-primary" href="tyear/{{ year|date:'Y'}}">{{ year|date:"Y" }}</a>

		{% endfor %}

	</div>

</div>

	{% for i in context %}

		{{ i.category__category }} : {{ i.year }}

	{% endfor %}

{% endblock %}