{% extends "master.html" %}
{% load humanize %}
{% block title %}
Budget Items
{% endblock %}


{% block content %}




	<h1 class="display-4" style="background-color: #151B54">Budget Items</h1>

	<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-budgetitem' %}">Add New Item</a>

	<table class="table table-bordered table-sm table-dark" style="max-width: none; table-layout: fixed; word-wrap: break-word;">

		<thead>

			<th scope="col">Cat.</th>
			<th scope="col">Desc.</th>
			<th scope="col">Amt.</th>
		</thead>

		{% for x in object_list %}

		<tr>
            		<td>
				{{ x.itemCat }}
			</td>
			<td>
                            <a href="{% url 'update-budgetitem' x.pk %}">{{ x.itemFreq }} {{ x.itemName }}</a>
                            <a href="{% url 'delete-budgetitem' x.pk %}">del</a>
			</td>
			<td>
                		${{ x.itemAmt |floatformat:0|intcomma}}
			</td>
		</tr>

		{% endfor %}
        

       </table>
	


{% endblock %}