{% extends 'master.html' %}
{% load humanize %}
{% block title %}
Budget Results
{% endblock %}

{% block content %}

<h1>Budget Results</h1>

	<a href="/budget/">Budget</a>
	
<table>
<thead>
	<th></th>
	<th>Annual</th>
</thead>
<tr>
	<td>
	Gross Salary:
	</td><td>
	{{ result.a_gross_pay|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Bonus:
	</td><td>
	{{ result.a_gross_bonus|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Alyssa Taxable:
	</td><td>
	{{ result.a_al_taxable|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Total Pay:</b>
	</td><td><b>
	{{ result.a_total_pay|floatformat:2|intcomma}}
	</b></td>
</tr>
<tr>
	<td>
	Medical:
	</td><td>
	{{ result.a_medical|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Dental:
	</td><td>
	{{ result.a_dental|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Daycare:
	</td><td>
	{{ result.a_daycare|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	401k:
	</td><td>
	{{ result.a_401k|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Train:
	</td><td>
	{{ result.a_train|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Total Taxable:
	</td><td>
	<b>{{ result.a_total_taxable|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Federal Tax:
	</td><td>
	{{ result.a_fedtax|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Social Security Tax:
	</td><td>
	{{ result.a_sstax|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Medicare:
	</td><td>
	{{ result.a_medicare|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	NY State Tax:
	</td><td>
	{{ result.a_nystax|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	NJ State Tax:
	</td><td>
	{{ result.a_njstax|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Total Post Tax Income:
	</td><td>
	<b>{{ result.a_post_tax_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Less Alyssa's Income:
	</td><td>
	-{{ result.a_al_taxable|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>ML Post Tax Income:
	</td><td>
	<b>{{ result.a_ml_post_tax_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Roth 401k:
	</td><td>
	{{ result.a_r401k|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Arag:
	</td><td>
	{{ result.a_arag|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Fixed Costs:
	</td><td>
	{{ result.a_fixed|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Income Post Fixed Costs:
	</td><td>
	<b>{{ result.a_post_fc_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Mortgage:
	</td><td>
	{{ result.a_mtg|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Property Tax:
	</td><td>
	{{ result.a_ptax|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Income Post Housing Costs:
	</td><td>
	<b>{{ result.a_post_h_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Cabin Income:
	</td><td>
	{{ result.avg_a_cabin_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Cabin Expenses:
	</td><td>
	{{ result.a_cabin_exp|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Income Post Cabin:
	</td><td>
	<b>{{ result.a_post_c_inc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Food:
	</td><td>
	{{ result.a_avg_food|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Entertainment:
	</td><td>
	{{ result.a_avg_entertainment|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Coffee:
	</td><td>
	{{ result.a_avg_coffee|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Furniture:
	</td><td>
	{{ result.a_avg_furniture|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Health:
	</td><td>
	{{ result.a_avg_health|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Home Services:
	</td><td>
	{{ result.a_avg_hs|floatformat:2|intcomma}}
	</td>
</tr>

<tr>
	<td>
	Household:
	</td><td>
	{{ result.a_avg_household|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Other:
	</td><td>
	{{ result.a_avg_other|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Personal Care:
	</td><td>
	{{ result.a_avg_pc|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Shopping:
	</td><td>
	{{ result.a_avg_shopping|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Pets:
	</td><td>
	{{ result.a_avg_pets|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Transport:
	</td><td>
	{{ result.a_avg_transport|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	Vacation:
	</td><td>
	{{ result.a_avg_vacation|floatformat:2|intcomma}}
	</td>
</tr>

<tr>
	<td>
	Alcohol:
	</td><td>
	{{ result.a_avg_alcohol|floatformat:2|intcomma}}
	</td>
</tr>

<tr>
	<td>
	Home Improvement:
	</td><td>
	{{ result.a_avg_hi|floatformat:2|intcomma}}
	</td>
</tr>


<tr>
	<td>
	Total Variable Costs:
	</td><td>
	{{ result.a_avg_variable|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Income Post Variable Costs:
	</td><td>
	<b>{{ result.a_post_var_inc|floatformat:2|intcomma}}
	</td>
</tr>

<tr>
	<td>
	Alyssa:
	</td><td>
	{{ result.a_avg_alyssa|floatformat:2|intcomma}}
	</td>
</tr>

<tr>
	<td>
	Gifts Given:
	</td><td>
	{{ result.a_avg_gifts|floatformat:2|intcomma}}
	</td>
</tr>
<tr>
	<td>
	<b>Surplus / Defecit:
	</td><td>
	<b>{{ result.a_total|floatformat:2|intcomma}}
	</td>
</tr>
</table>
{% endblock %}

<!-- 
  a_r401k = (2/9)*max_401k_23

    bw_arag = float(result.get("bw_arag"))

    a_arag = bw_arag*26

    m_internet = float(result.get("m_internet"))
    m_phone = float(result.get("m_phone"))
    m_electric = float(result.get("m_electric"))
    m_natgas = float(result.get("m_natgas"))
    m_homeins = float(result.get("m_homeins")) 
    m_apple = float(result.get("m_apple"))
    a_carins = float(result.get("a_carins"))

    a_fixed = (12*(m_internet + m_phone + m_electric + m_natgas + m_homeins + m_apple))+ a_carins

cabin_exp

-->