{% extends "master.html" %}

{% block title %}

Issues

{% endblock %}


{% block content %}

<h1 class="display-4" style="background-color: #151B54">Open Issues</h1>

	<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'aissue' %}">Add New Issue</a>

	{% for x in object_list %}
	
	{% if x.issueopen == True %}
	<div class="d-flex justify-content-center align-items-center my-4">

			<div class="col-8">

				<div class="card" style="background-color: #151B54">
				
					<h5 class="card-title"><a class="link-warning" href="{% url 'uissue' x.id %}">{{ x.issuename }} [#{{ x.id }}] </a></h5>

					<h6 class="card-subtitle mb-2 text-body-secondary">
					
						{{ x.opendate|date:"Y-m-d" }}

					</h6>

					<p class="card-text">{{ x.issuedesc }}</p>
					
					<p class="card-text">Priority: {{ x.priority }}</p>
				</div>
			</div>
		</div>
				
	
	{% endif %}
	
	{% endfor %}

{% endblock %}