{% extends "master.html" %}

{% block title %}
  PFIN 23
{% endblock %}


{% block content %}

<div class="mycard">

  <h1>PFIN 23</h1>

  <h3>Accounts</h3>

  <p>List of all accounts: <a href="/act/act/">Accounts</a></p>

  <p>Add new account: <a href="aact/">Add Account</a></p>

  <h3>Categories</h3>
  
  <p>List of all categories: <a href="cat/">Categories</a></p>

  <p>Add new category: <a href="acat/">Add Category</a></p>

  <h3>Payees</h3>
  
  <p>List of all payees: <a href="pay/act/">Payees</a></p>

  <p>Add new payee: <a href="apay/">Add Payee</a></p>

  <h3>Transactions</h3>
  
  <p>List of all Transactions: <a href="trans/">Transactions</a></p>

  <p>Add new transaction: <a href="atran/">Add Transaction</a></p>

  <h3>Issues</h3>
  
  <p>List of all Issues: <a href="issues/">Issues</a></p>

  <p>Add new issue: <a href="aissue/">Add Issue</a></p>

  <h3>Projections</h3>
  
  <p>Moving: <a href="move/">Move</a></p>

  <p>Budget: <a href="budget/">Budget</a></p>

</div>

{% endblock %}
