{% extends "master.html" %}

{% block title %}
  PFIN 23
{% endblock %}


{% block content %}

<div class="container text-center">
	
	<h1 class="display-1" style="background-color: #151B54">PFIN 23</h1>
	
	<h3 class="display-4" style="background-color: #151B54">Accounts</h3>
	
	<div class="list-group">
  
	       <a class="list-group-item list-group-item-action list-group-item-primary" href="/act/act/">Accounts</a>
  
		<a class="list-group-item list-group-item-action list-group-item-primary" href="aact/">Add Account</a>
  
       </div>
	
	<h3 class="display-4" style="background-color: #151B54">Categories</h3>
  	
       <div class="list-group">
 
		<a class="list-group-item list-group-item-action list-group-item-primary" href="cat/">Categories</a>

		<a class="list-group-item list-group-item-action list-group-item-primary" href="acat/">Add Category</a>

		<a class="list-group-item list-group-item-action list-group-item-primary" href="/pcupdateall/">Payee - Category Update</a>

		<a class="list-group-item list-group-item-action list-group-item-primary" href="/pau/">Payee - Account Update</a>

       </div>

  <h3 class="display-4" style="background-color: #151B54">Payees</h3>

  <div class="list-group">

    <a class="list-group-item list-group-item-action list-group-item-primary" href="pay/act/payee/">Payees</a>

    <a class="list-group-item list-group-item-action list-group-item-primary" href="apay/">Add Payee</a>

</div>

  <h3 class="display-4" style="background-color: #151B54">Transactions</h3>

  <div class="list-group">

    <a class="list-group-item list-group-item-action list-group-item-primary" href="archive">Transactions</a>
  
    <a class="list-group-item list-group-item-action list-group-item-primary" href="atran/">Add Transaction</a>
  
</div>
  
  <h3 class="display-4" style="background-color: #151B54">Issues</h3>
  
  <div class="list-group">
  
    <a class="list-group-item list-group-item-action list-group-item-primary" href="issues/">Issues</a>
   
    <a class="list-group-item list-group-item-action list-group-item-primary" href="aissue/">Add Issue</a>
  
</div>
  
  <h3 class="display-4" style="background-color: #151B54">Projections</h3>
  
  <div class="list-group">

    <a class="list-group-item list-group-item-action list-group-item-primary" href="budgetitem/">Budget Items</a>
  
    <a class="list-group-item list-group-item-action list-group-item-primary" href="move/">Move</a>

    <a class="list-group-item list-group-item-action list-group-item-primary" href="budget/">Budget</a>
  
  </div>

</div>

{% endblock %}
