{% extends "masterp.html" %}
{% load humanize %}
{% block title %}

Payees List

{% endblock %}

{% block page_content %}

<div class="contanier text-center">

	<nav class="navbar fixed navbar-dark" style="background-color: #151B54">

		<div class="container-fluid">
                     
			<a class="navbar-brand" href="#">Payees {{ tcount }}</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >

				<span class="navbar-toggler-icon"> </span>

			</button>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

				<div class="navbar-nav">
                                   
                                   <form class="d-flex justify-content-center" method="GET" action="{% url 'results' %}">
                                          <input class="form-control-sm me-2" type="search" name="q" placeholder="Search">
                                          <button class="btn btn-outline-success" type="submit">Search</button>
                                   </form>
					
                                   <a class="nav-link active" href="{% url 'add-payee' %}">Add</a>

					<a class="nav-link" href="{% url 'merge' %}">Merge</a>

				<div class="nav-item dropdown">

					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Active</a>

					<ul class="dropdown-menu text-center" style="background-color: #191970">

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' 'payee' %}">A-Z</a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' '-payee' %}">Z-A</a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' '-trans_count' %}">Usage: Dsc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' 'trans_count' %}">Usage: Asc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' '-most_recent_transaction' %}">Last: Dsc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'act' 'most_recent_transaction' %}">Last: Asc </a></li>

					</ul>

				</div>

				<div class="nav-item dropdown">

					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">All</a>

					<ul class="dropdown-menu text-center" style="background-color: #191970">

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' 'payee' %}">A-Z</a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' '-payee' %}">Z-A</a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' '-trans_count' %}">Usage: Dsc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' 'trans_count' %}">Usage: Asc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' '-most_recent_transaction' %}">Last: Dsc </a></li>

						<li><a class="dropdown-item" style="color: #707019" href="{% url 'list-payees' 'all' 'most_recent_transaction' %}">Last: Asc </a></li>

					</ul>

				</div>

			</div>

		</div>

	</nav>

       </br>

	<div class="container text-center justify-content-center">
		
		{% for p in page_obj %}

		<div class="d-flex justify-content-center align-items-center my-4">

			<div class="col-10">

				<div class="card" style="background-color: #151B54">

					<h5 class="card-title">{{ p.payee }}</h5>

					<h6 class="card-subtitle mb-2 text-body-secondary">

						<a class="link-warning" href="{% url 'update-payee' p.id %}">edit</a>

					</h6>

					<p class="card-text"># of trans: {{ p.trans_count }}</p>

					<p class="card-text">total: ${{ p.total_transactions|floatformat:2|intcomma }}</p>

					<p class="card-text">most recent: {{ p.most_recent_transaction }}</p>



<ul class="list-group list-group-bg-success">

    {% for t in p.trans_set.all %}

        {% ifchanged t.category %}

		{% if not t.groupedcat %}
		
         <li class="list-group-item">
		<a href="{% url 'payee-gc-update-all' p.pk %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}&dcat={{ t.category.pk }}" class="link-success btn btn-link">{{ t.category }}</a>
		<a href="{% url 'tlist' acc='all' cat=t.category.pk gcat='all' pay=p.pk ord='-tdate' gnull='n' %}">trans</a>
		</li>

		{% endif %}

        {% endifchanged %}

    {% endfor %}

</ul>

					<div class="btn-group">

						<a href="{% url 'delete-payee' p.pk %}" class="link-danger btn btn-link">Delete</a>

						<a href="{% url 'make-payee-inactive' p.pk %}" class="link-danger btn btn-link">Inact.</a>
						
						<a href="{% url 'merge' p.pk %}" class="link-danger btn btn-link">Merge</a>
						
						</div>
						
						<div class="btn-group">

						<a href="{% url 'tlist' 'all' 'all' 'all' p.id '-tdate' 'n' %}" class="link-success btn btn-link">View Trans</a>

						<a href="{% url 'add-trans' p.pk %}" class="link-success btn btn-link">Add Trans</a>

						<a href="{% url 'payee-gc-update-all' p.pk %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}" class="link-success btn btn-link">Change Group</a>

						<a href="{% url 'payee-category-update-all' p.pk %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}" class="link-success btn btn-link">Change Cat</a>

					</div>

				</div>

			</div>

		</div>

		{% endfor %}

	</div>
</div>

{% endblock %}
