{% extends 'masterp.html' %}

{% load humanize %}

{% block title %}
       Transactions
{% endblock %}

{% block page_content %}

{% if page_obj %}

       <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     date
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay 'tdate' gnull %}">a-z</a></li>
                <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay '-tdate' gnull %}">z-a</a></li>
              </ul>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     payee
              </button>
              <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay 'payee' gnull %}">a-z</a></li>
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay '-payee' gnull %}">z-a</a></li>
              </ul>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     amount
              </button>
              <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay 'amount' gnull %}">a-z</a></li>
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay '-amount' gnull %}">z-a</a></li>
              </ul>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     category
              </button>
              <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay 'category' gnull %}">a-z</a></li>
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay '-category' gnull %}">z-a</a></li>
              </ul>
		<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     show grouped
              </button>
              <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay ord 'n' %}">yes</a></li>
                     <li><a class="dropdown-item" href="{% url 'tlist' acc cat gcat pay ord 'y' %}">no</a></li>
              </ul>
       </div>

       <h1>Transactions</h1>

       <table class="table table-dark">
              
              <thead>
                     <th scope="col">Date</th>
                     <th scope="col">Account</th>
                     <th scope="col">Payee</th>
                     <th scope="col">Category</th>
                     <th scope="col">Grouped</th>
                     
                     <th scope="col">Old Cat</th>

                     <th scope="col">Amount</th>
                     {% comment %}
                     <th scope="col">Sum</th>
                     {% endcomment %}
              </thead>

              {% for t in page_obj %}

              <tr>
                     <td>
                            {% if t.payee.active and t.account.active %}
                                   <a href="{% url 'update-trans-act' t.id %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}">{{ t.tdate }}</a>
                            {% else %}
                                   <a href="{% url 'update-trans' t.id %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}">{{ t.tdate }}</a>
                            {% endif %}
                     
                     <td><a href="{% url 'tlist'  t.account.id 'all' 'all' 'all' %}"> {{ t.account }}</a></td>
                     <td>
				<a href="{% url 'tlist' 'all' 'all' 'all' t.payee.id %}"> {{ t.payee }}</a>
				<br>
				<a href="{% url 'payee-detail' t.payee.id %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}&dcat={{ t.category.id }}">edit</a>
				<br>
				<a href='https://www.google.com/search?q={{ t.payee }}' target='_blank'>info</a>
			</td>
                     <td><a href="{% url 'tlist' 'all' t.category.id 'all' 'all' %}"> {{ t.category }}</a></td>
                     <td>
                            {% if t.groupedcat %}
                            <a href="{% url 'tlist' 'all' 'all' t.groupedcat.id 'all' %}">{{ t.groupedcat }}</a>
                            {% endif %}
                     </td>

                     <td>
                            {{ t.oldCat }}
                     </td>
                     <td>{{ t.amount|floatformat:"2g" }}</td>

                     {% comment %}
                     <td>{{ t.cumsum|floatformat:"2g" }}</td>
                     {% endcomment %}

                     <td><a href="{% url 'delete-trans' t.id %}">del</a></td>
              </tr>

              {% endfor %}

       </table>

{% else %}

	<p>No transactions yet.</p>

{% endif %}

{% endblock %}