{% extends "fin23/master.html" %}

{% block title %}
  PFIN 23
{% endblock %}


{% block content %}

<div class="container text-center">

	<h1 class="display-1" style="background-color: #151B54">PFIN 23</h1>

	<h3 class="display-4" style="background-color: #151B54">Accounts</h3>

	<div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'list-accounts' 'act' %}">Accounts</a>

		<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-account' %}">Add Account</a>

       </div>

	<h3 class="display-4" style="background-color: #151B54">Categories</h3>

       <div class="list-group">

    		<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'list-categories' %}">Categories</a>

    		<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-category' %}">Add Category</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'list-l1groups' %}">L1 Groups</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-l1group' %}">Add L1 Group</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'list-gc' %}">Grouped Categories</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-gc' %}">Add Grouped Category</a>

        </div>

    <h3 class="display-4" style="background-color: #151B54">Payees</h3>

        <div class="list-group">

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'list-payees' 'all' '-trans_count' %}">Payees</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-payee' %}">Add Payee</a>

        </div>

    <h3 class="display-4" style="background-color: #151B54">Transactions</h3>

        <div class="list-group">

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'transactions:list' %}">Transactions</a>

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'transactions:create' %}">Add Transaction</a>

        </div>

    <h3 class="display-4" style="background-color: #151B54">Issues</h3>

        <div class="list-group">

            <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'issues:view-issues' %}">Issues</a>

        </div>

    <h3 class="display-4" style="background-color: #151B54">CSV Uploader</h3>
    
    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'csv:upload-file' %}">New Upload</a>

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'csv:imported-payees-list' %}">Uploaded Payees</a>

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'csv:staged-transactions-list' %}">Staged Transactions</a>

    </div>

    <h3 class="display-4" style="background-color: #151B54">Fixed Flows</h3>
    
    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'fixed:list' %}">List</a>

    </div>

    <h3 class="display-4" style="background-color: #151B54">Taxes</h3>

    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'tax:tax-return-list' %}">Tax Returns</a>

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'tax:datasource-list' %}">Data Sources</a>

    </div>

    <h3 class="display-4" style="background-color: #151B54">Projections</h3>

    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'proj:list' %}">List</a>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'proj:withholding' %}">Withholding</a>

    </div>

    <h3 class="display-4" style="background-color: #151B54">Reports</h3>

    <div class="list-group">

        <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'reports_1:tform' %}">Transaction Query</a>

    </div>

{% endblock %}
