<div id ='trans_container'>

<form action="." method="POST" hx-post="." hx-swap='outerHTML' hx-trigger='submit'>
        {% if title %}

            <h1>{{ title }}</h1>

        {% endif %}

        {% csrf_token %}

        {% if message %}

            <p>{{ message }}</p>

        {% endif %}

        {{ form.as_p }}

        <div class='htmx-indicator'>Loading...</div>

        <button class="btn btn-secondary" type="submit">save</button>
        <a href="{% url 'transactions:tlist' last_acct %}" class="btn btn-secondary btn" hx-trigger='click' role="button">exit</a>
	    <a href="{% url 'transactions:create' %}?next={{ request.GET.next }}" class="btn btn-secondary btn" hx-trigger='click' role="button">new trans</a>
   </form>
</div>