{% extends "fin23/masterp.html" %}
{% load humanize %}
{% block title %}

Grouped Cats

{% endblock %}

{% block page_content %}

<h1 class="display-4" style="background-color: #151B54">Grouped Cats</h1>

	<a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'add-gc' %}">Add Grouped Cat</a>

	{% for x in object_list %}

	<div class="d-flex justify-content-center align-items-center my-4">

			<div class="col-8">

				<div class="card" style="background-color: #151B54">

					<h5 class="card-title"><a class="link-warning" href="{% url 'update-gc' x.pk %}"> {{ x.groupedcat }} </a></h5>

					{% if x.active == "Yes" %}

					<p class="text-success">Active</p>

					{%  else %}

					<p class="text-danger">Not Active h{{ x.active }}</p>

					{% endif %}

					<p class="card-text"># of trans: {{ x.trans_count }}</p>

					<p class="card-text">total: {{ x.trans_total|floatformat:2|intcomma}}</p>

					<p><a href="{% url 'transactions:tlist' 'all' 'all' x.pk 'all' 'all' '-tdate' %}?next={{ request.path|urlencode }}?page={{ page_obj.number|urlencode }}"> Trans</a></p>

                                   <p><a href="{% url 'delete-gc' x.pk %}" class="link-danger btn btn-link">Delete</a></p>

				</div>
			</div>
		</div>

	{% endfor %}

{% endblock %}