{% extends "fin23/master.html" %}

{% block content %}

<h1>{{ title }}</h1>

<a href="{% url 'tax:tax-return-create' %}">New Tax Return</a>

<table width=100%>
{% for x in qs %}
<tr>
    <td>
        <a href="{{ x.get_edit_url }}">edit</a>
    </td>
    <td>
        <a href="{{ x.get_delete_url }}">del</a>
    </td>
    <td>
        {{ x.year }}
    </td>
    <td>
        {{ x.payee }}
    </td>
    <td>
        <a href="{{ x.get_absolute_url }}">view</a>
    </td>
</tr>
{% endfor %}
</table>


{% endblock content %}